extends ../layout.jade
block contenido
	p Hola #{user.email}
	div(id="imagenes")
		for imagen in imagenes
			div(class="img-container")
				a(href="/app/images/#{imagen._id}")
					h2= imagen.title
				img(src="/public/imagenes/#{imagen._id}.#{imagen.extension}",class="main-img")
				if(typeof imagen.creator != "undefined")

	script(id="image-template", type="text/x-handlebars-template")
		div(class="img-container")
			a(href="/app/images/{{id}}")
				h2 {{title}}
			img(src="/public/imagenes/{{id}}.{{extension}}",class="main-img")
	script(src="/public/js/client.js")
	script(src="/public/js/handlebars.js")